# ejecutables y objetos
practicas/practica1/src/matmul_00
practicas/practica1/src/matmul_02
practicas/practica1/src/matmul_03
practicas/practica1/src/hello_omp
*.o
*.out
# entornos y cachés
.cp-env/
__pycache__/
.ipynb_checkpoints/
*.pyc
# sistema
.DS_Store
NOTAS.md
# Editor backups
*.save

echo "*.swp" >> .gitignore
